.ContenedorPrincipalRegistro {
  background-image: url('../../images/carretera.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.TituloRegistro {
  color: white;
  margin-bottom: 10px;
}

.SubtituloRegistro {
  margin-bottom: 20px;
}

.TextField .MuiInputLabel-root {
  color: white;
  transition: background-color 0.3s ease;
  padding: 0 4px;
}

.TextField .MuiInputLabel-root.Mui-focused {
  color: black;
  background-color: white; 
}

.TextField .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.TextField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.TextField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white;
} 

.TextField .MuiInputBase-input {
  color: white;
}

.TextField .MuiInputLabel-root {
  color: white;
}

.ContenedorRegistro-Boton {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  .RegistrarBoton {
      margin-left: 20px;
      background-color: white; 
      color: black;
      border: 2px solid white; 
      border-radius: 30px;
      padding: 10px 25px;
      margin: 0 10px; 
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;
      text-align: center;
      display: inline-block;
  }
  
  .RegistrarBoton:disabled {
      color: black; 
      border-color: black;
      background-color: white; 
      opacity: 1; 
  }
}