body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1d1d1d;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container{
    background-image: url('../../images/carretera.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

video {
    border: 2px solid white; 
}

.BotonI {
    background-color: white; 
    color: black;
    border: 2px solid white; 
    border-radius: 30px;
    padding: 10px 25px;
    margin: 10px 10px; 
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s; 
}

.BotonI:hover {
    background-color: rgba(255, 255, 255, 0.8); 
}

canvas {
    position: absolute;
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.9) !important; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.ReactModal__Content {
    background-color: #111; 
    color: #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    position: relative;
    text-align: center;
    border: 2px solid #333; 
}

.ReactModal__Content h2 {
    color: #888; 
    margin-bottom: 15px;
}

.ReactModal__Content p {
    color: #ccc; 
    margin-bottom: 20px;
}

.BotonCerrar {
    background-color: #222; 
    color: #e0e0e0; 
    border: 2px solid #444;
    border-radius: 30px;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.BotonCerrar:hover {
    background-color: rgba(34, 34, 34, 0.8);
}

