
body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    background-image: url('../../images/carretera.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  