
body {
    margin: 0;
    padding: 0;
}
  
.ContenedorPrincipalLogin {
    background-image: url('../../images/carretera.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
.TituloLogin {
    font-size: 40px;
    color: white;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 100px;
  }

.Formulario {
    flex-direction: column;

  .TextField .MuiInputLabel-root {
      color: white;
      transition: background-color 0.3s ease;
      padding: 0 4px;
  }
  
  .TextField .MuiInputLabel-root.Mui-focused {
      color: black;
      background-color: white; 
  }
  
  .TextField .MuiOutlinedInput-notchedOutline {
      border-color: white;
  }
  
  .TextField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: white;
  }
  
  .TextField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: white;
  }
}

.ContenedorLogin-Boton {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    .LoginBoton {
        margin-left: 20px;
        background-color: white; 
        color: black;
        border: 2px solid white; 
        border-radius: 30px;
        padding: 10px 25px;
        margin: 0 10px; 
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
        display: inline-block;
    }
    .LoginBoton:disabled {
        color: black; 
        border-color: black;
        background-color: white; 
        opacity: 1; 
    }
}