body {
    margin: 0;
    padding: 0;
}

.ContenedorReporte {
    background-image: url('../../images/carretera.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}